.rdrDateDisplay {
  display: none;
}
.rdrDayDisabled .rdrDayNumber span {
  text-decoration: line-through !important;
}
.rdrDay .react-date-range {
  color: #7fdb34;
}

/* Styling for the first date selected */
.rdrStartEdge .rdrDayNumber span {
  background-color: #34db74 !important;
  border-color: #69db34 !important;
  color: #252424 !important; /* Text color for the first date */
}

/* Styling for the last date selected */

.rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span,
.rdrDay:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span,
.rdrDay:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span,
.rdrDay:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span {
  color: #201f1f;
  font-weight: 700;
}
/* .ant-modal-header {
  display: none;
}
.ant-modal-close {
  display: none;
} */
/* .ant-modal-content {
  width: 360px;
}
.ant-modal {
  width: 360px;
} */
.ant-modal-footer {
  display: flex;
  justify-content: space-between;
}
/* :where(.css-dev-only-do-not-override-2q8sxy).ant-modal .ant-modal-content {
  padding: 20px 14px;
} */
.rdrDayToday:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span:after,
.rdrDayToday:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span:after,
.rdrDayToday:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span:after,
.rdrDayToday:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span:after {
  background: none;
}
.rdrDayToday .rdrDayNumber span:after {
  background-color: #7fdb34;
}
