.alice-carousel {
  position: relative;
}
.alice-carousel__prev-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  position: absolute;
  background-color: white;
  color: black;
  border-radius: 50%;
  left: 1%;
  top: 37%;
  box-shadow: 0px 5px 10px 0px rgba(59, 59, 59, 0.2);
}
.alice-carousel__next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right: 1%;
  top: 37%;
  box-shadow: 0px 5px 10px 0px rgba(59, 59, 59, 0.2);
}
.alice-carousel__next-btn:hover {
  box-shadow: 0px 10px 10px 0px rgba(59, 59, 59, 0.3);
}
.alice-carousel__prev-btn:hover {
  box-shadow: 0px 10px 10px 0px rgba(59, 59, 59, 0.3);
}
.alice-carousel__prev-btn-item {
  color: black;
  font-size: 25px;
}
.alice-carousel__next-btn-item {
  color: black;
  font-size: 25px;
}
.alice-carousel__dots {
  margin: 1rem 3px 5px;
}
