.alice-carousel {
  position: relative;
}
.alice-carousel__prev-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  position: absolute;
  background-color: red;
  border-radius: 50%;
  left: 0%;
  top: 35%;
}
.alice-carousel__next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  right: 2%;
  top: 35%;
}
.alice-carousel__prev-btn-item {
  color: white;
  font-size: 25px;
}
.alice-carousel__next-btn-item {
  color: white;
  font-size: 25px;
}
