.on_hover {
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px;
}
.on_hover:hover {
  box-shadow: 0px 10px 10px 0px rgba(59, 59, 59, 0.5);
  transition: box-shadow 150ms ease-in-out;
}
.no_hover_shadow {
  box-shadow: 0px 5px 8px rgba(51, 66, 77, 0.3);
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px;
}

.navPanel {
  position: fixed;
  top: 0px;
  z-index: 30;
  width: 100vw;
  height: 100vh;
  left: -100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

.navPanel.open {
  animation: slideIn 0.3s ease-in-out forwards;
}
.navPanel.close {
  animation: slideOut 0.3s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    left: -120%;
  }
  to {
    left: 0%;
  }
}

@keyframes slideOut {
  from {
    left: 0%;
  }
  to {
    left: -120%;
  }
}

.card {
  border-radius: 10px;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  animation-name: popIn;
  animation-fill-mode: forwards;
}

@keyframes popIn {
  0% {
    bottom: -60px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

.banner-container {
  overflow: hidden;
}

.banner-text {
  white-space: nowrap;
  animation: moveText 10s linear infinite; /* Adjust the duration as needed */
}

/* Responsive styles for small screens */
@media (max-width: 600px) {
  .banner-text {
    animation: moveTextSmallScreen 13s linear infinite; /* Adjust the duration for small screens */
  }

  @keyframes moveTextSmallScreen {
    0% {
      transform: translateX(-100%); /* Start from -100% (left) */
    }
    100% {
      transform: translateX(100%); /* Move to 100% (right) */
    }
  }
}

.animate-fadeToLeft {
  position: relative;
  bottom: 0;
  left: 0;
  /* transform: translateY(-50%); */
  animation-name: fadeToLeft;
  animation-fill-mode: forwards;
}

@keyframes fadeToLeft {
  0% {
    left: -80px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

.rtl {
  direction: rtl;
}  

.ltr {
  direction:ltr
}

.gamesCardButton {

  font-size: 13px;
}