.ant-tabs-top {
  margin-left: auto;
  margin-right: auto;
}
.ant-tabs-nav-wrap {
  max-width: 78.8rem;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row-reverse;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
.ant-tabs-tab {
  display: flex !important;
  align-items: flex-end !important;
}
.ant-tabs-tab-btn {
  font-size: 1rem;
  width: 225px;
}
.ant-modal {
  width: 346px !important;
}

.ant-tabs-tab-active {
  font-weight: 700;
}
.ant-tabs-tab-btn {
  display: flex;
  justify-content: flex-end;
  color: '#2c444e';
}
.ant-tabs-tab-active {
  color: '#2c444e';
}
:where(.css-dev-only-do-not-override-2q8sxy).ant-tabs .ant-tabs-ink-bar {
  background-color: #2c444e;
}
.ant-tabs-ink-bar-animated {
  height: 0.25rem !important;
}
:where(.css-dev-only-do-not-override-2q8sxy).ant-tabs .ant-tabs-tab:hover {
  color: #2c444e;
}
:where(.css-dev-only-do-not-override-2q8sxy).ant-tabs
  .ant-tabs-tab.ant-tabs-tab-active
  .ant-tabs-tab-btn {
  color: #2c444e;
}
/* Responsive styling */

/* pl-[1rem] pr-[1rem] pt-4 max-w-[78.8rem] xl:mx-auto */
.ant-tabs-tab-disabled {
  width: 100% !important;
  cursor: pointer !important;
  margin: 0px !important;
}
