.element_style_accordion {
  opacity: 1;
  max-height: 0;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  position: relative;
  overflow: hidden;
}

.opening_animation_accordion {
  max-height: 500px; /* Adjust the value as needed */
  transition: max-height 0.5s ease-in-out;
}

.closing_animation_accordion {
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}
